/* styles/Navbar.css */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: black;

    padding-top: 15px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100; }

.name {
    color: lightgray;
    font-size: 20px;
    font-weight: 600;
    align-self: center;
    margin-right: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 35px;
    width:fit-content;
    margin-left: 50px;
}

.nav-links li {
    color: lightgray;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links li:hover {
    color: white;
}

